*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    margin:0;
    font-family: 'Karla', sans-serif;
    background-color:  hsl(204, 43%, 93%);
}
.main-grid{
    margin: 5em auto;
    width: 70%;
    max-width: 750px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 10px  hsl(218, 22%, 67%);

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'hero'
    'sign'
    'us';

}
.main-grid > *{
    padding: 2em 3em 3em;
}


.hero-section{
    grid-area: hero;
    background-color: #fff;
}
.sign-up{
    max-width: 100%;
    grid-area: sign;
    background-color: hsl(179, 62%, 43%);
}
.why-us{
    grid-area: us;
    background-color:  rgba(42, 178, 176, 0.751);
}


@media (min-width:40em){
    html{
       font-size: 17px; 
    }
    .main-grid{
        grid-template-areas: 
        'hero hero'
        'sign us';
    }
}

